window {
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-family: FiraCode Nerd Font;
  font-size: 14px;
}

#input {
  margin: 10px;
  padding: 8px;
  border: 2px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

#outer-box {
  margin: 10px;
}

#inner-box {
  background-color: #000000;
}

#entry {
  padding: 6px;
  background-color: #000000;
  color: #ffffff;
}

#entry:selected {
  background-color: #ffffff;
  color: #000000;
}

#text {
  color: inherit;
}

