@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: "Fira Code Nerd Font";
    font-size: 13px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    background: #000000;
    border: none;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#battery,
#network,
#bluetooth,
#custom__power {
    padding: 0 8px;
    background: #000000;
    color: #ffffff;
}

tooltip {
    background: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
}

menu {
    border: 2px solid #ffffff;
    border-radius: 8px;
    background: #000000;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

menuitem {
    border-radius: 0px;
    padding: 6px 10px;
    margin: 2px 0;
    background: #000000;
    color: #ffffff;
}

menuitem:hover {
    background: #ffffff;
    color: #000000;
}

menuitem:selected {
    background: #ffffff;
    color: #000000;
}
